@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Rubik:wght@600;700&display=swap');/*
font-family: 'Open Sans',sans-serif; --light-300; light italic; regular-400; medium-500
font-family: 'Rubik',sans-serif;  --semi bold-600; bold-700;
font-family: 'Inter',sans-serif;  --medium-500; semibold-600
*/

*{
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}